<!-- <h1 [style.color]="isSpecial ? c1 : c2">{{ val1 }}</h1>
<input type="text" name="" [value]="val1" id="value" />

<h2 [class]="cssClass">hello</h2>

<input [type]="isValid ? tex : pas" name="" id="" />
<h3 id="he">expecto petronum</h3>
<table border="1px">
  <tr>
    <th [attr.colspan]="colVal">person</th>
  </tr>
  <tr>
    <td>Harsha</td>
    <td>S j</td>
  </tr>
  <tr>
    <td>bhuvan</td>
    <td>h n</td>
  </tr>
</table>
<button (click)="display()">click here</button>

<div class="dumy" id="dum"></div>

<input type="text" [(ngModel)]="displayResult" />
<h1>{{ displayResult }}</h1> -->
<app-parent></app-parent>
